.app {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  box-sizing: border-box;
}