<app-header></app-header>

<main class="app">
  <!-- Toolbar -->
  <div class="flex gap-3 print:hidden">
    <button
      *ngIf="title?.length"
      class="btn mb-2 btn-outline btn-active cursor-default rounded-box border-none hover:bg-neural"
    >
      {{ title }}
    </button>

    <button
      class="btn mb-2 rounded-box border-none hover:bg-base-200"
      (click)="switchTab('class-info')"
      [ngClass]="{ 'btn-primary hover:bg-primary': showTab === 'class-info' }"
    >
      Thông tin lớp
    </button>

    <div
      [ngClass]="{
        'tooltip tooltip-open tooltip-error before:text-neutral-content before:rounded-box': isConflict,
      }"
      data-tip="Trùng lịch"
    >
      <button
        class="btn mb-2 rounded-box border-none hover:bg-base-200"
        (click)="switchTab('calendar')"
        [ngClass]="{ 'btn-primary hover:bg-primary': showTab === 'calendar' }"
      >
        Lịch học
      </button>
    </div>

    <button
      class="btn mb-2 rounded-box border-none hover:bg-base-200"
      (click)="switchTab('more-info')"
      [ngClass]="{ 'btn-primary hover:bg-primary': showTab === 'more-info' }"
    >
      Thông tin thêm
    </button>

    <div class="flex-grow"></div>

    <button
      class="btn mb-2 rounded-box border-none"
      (click)="print()"
      [disabled]="loading$ | async"
    >
      Xuất
    </button>
  </div>

  <div class="relative">
    <!-- Hiển thị danh sách lịch đã chọn khi in -->
    <ul class="hidden print:block">
      <ng-template
        *ngFor="
          let major of (calendar$ | async)?.calendarGroupByMajor ?? {}
            | keyvalue
        "
        [ngIf]="true"
      >
        <ng-template
          *ngFor="let subject of major.value.subjects ?? {} | keyvalue"
          [ngIf]="true"
        >
          <li
            *ngIf="
              subject.value.selectedClass && subject.value.displayOnCalendar
            "
            class="mb-3"
          >
            <p class="border rounded-box px-3 py-1 inline-block">
              {{
                subject.value.classes[subject.value.selectedClass].details[0]
                  .defaultName
              }}
            </p>
          </li>
        </ng-template>
      </ng-template>
    </ul>

    <!-- Bảng chọn lịch -->
    <app-class-info
      class="print:!hidden"
      [ngClass]="{
        'hidden': showTab !== 'class-info',
      }"
      [calendarGroupByMajor]="calendarGroupByMajor"
      (resetClass)="resetClass($event)"
      (onChange)="triggerRecalculateTableContent($event)"
      [oldAuto]="oldAuto"
      [autoTh]="autoTh"
    >
    </app-class-info>

    <!-- Lịch -->
    <app-calendar
      class="print:!block"
      [ngClass]="{
        'hidden': showTab !== 'calendar',
      }"
      [SESSIONS]="SESSIONS"
      [calendar$]="calendar$"
      [calendarTableContent$]="calendarTableContent$"
    >
    </app-calendar>

    <!-- Tab Thông tin thêm -->
    <app-more-info
      class="print:!hidden"
      [ngClass]="{
        'hidden': showTab !== 'more-info',
      }"
      [EXCEL_PATH]="EXCEL_PATH"
    >
    </app-more-info>

    <!-- Loading -->
    <div
      class="rounded-box w-full h-[calc(100vh-18rem)] items-center justify-center bg-base-200 absolute top-0 left-0 opacity-50 z-10 hidden print:!hidden"
      [ngClass]="{
        '!flex': (loading$ | async),
      }"
    >
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </div>
</main>

<app-footer></app-footer>
