footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
}

@media (min-width: 480px) {
  footer {
    padding: 12px 0;
  }
}