<div
  id="class-info"
  class="overflow-scroll overflow-x-hidden overflow-y-overlay max-h-[calc(100vh-18rem)]"
>
  <div
    class="sticky top-0 py-3 mb-3 rounded-b-md z-10 flex gap-3 flex-wrap max-w-full bg-base-100"
  >
    <button
      class="btn btn-sm btn-outline text-sm"
      (click)="onTriggerAuto('refer-non-overlap')"
    >
      Tự động xếp lịch
      <span
        class="btn btn-active btn-xs"
        *ngIf="
          (cs.oldAuto$ | async) === 'refer-non-overlap' &&
          (cs.autoTh$ | async)! > -1
        "
      >
        {{ (cs.autoTh$ | async)! + 1 }}
      </span>
    </button>
    <button
      class="btn btn-sm btn-outline text-sm"
      (click)="onTriggerAuto('refer-non-overlap-morning')"
    >
      Tự động xếp lịch (ưu tiên buổi sáng)
      <span
        class="btn btn-active btn-xs"
        *ngIf="
          (cs.oldAuto$ | async) === 'refer-non-overlap-morning' &&
          (cs.autoTh$ | async)! > -1
        "
      >
        {{ (cs.autoTh$ | async)! + 1 }}
      </span>
    </button>
    <button
      class="btn btn-sm btn-outline text-sm"
      (click)="onTriggerAuto('refer-non-overlap-afternoon')"
    >
      Tự động xếp lịch (ưu tiên buổi chiều)
      <span
        class="btn btn-active btn-xs"
        *ngIf="
          (cs.oldAuto$ | async) === 'refer-non-overlap-afternoon' &&
          (cs.autoTh$ | async)! > -1
        "
      >
        {{ (cs.autoTh$ | async)! + 1 }}
      </span>
    </button>
    <button
      class="btn btn-sm btn-outline text-sm"
      (click)="onTriggerAuto('refer-non-overlap-evening')"
    >
      Tự động xếp lịch (ưu tiên buổi tối)
      <span
        class="btn btn-active btn-xs"
        *ngIf="
          (cs.oldAuto$ | async) === 'refer-non-overlap-evening' &&
          (cs.autoTh$ | async)! > -1
        "
      >
        {{ (cs.autoTh$ | async)! + 1 }}
      </span>
    </button>
  </div>

  <div
    *ngFor="let major of (cs.calendar$ | async)?.majors || {} | keyvalue"
    class="collapse collapse-plus border border-base-content bg-base-100 w-full mx-auto mb-4"
  >
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      <b>
        <span>{{ major.key }}</span>
      </b>
      <span
        class="badge badge-primary ml-3 !text-xs font-normal -mt-1 translate-y-[-0.2rem]"
        *ngIf="Object.keys((selectedClasses$ | async)?.[major.key] || {}).length"
      >
        Đang chọn
      </span>
    </div>
    <div class="collapse-content">
      <div class="inline-block float-right">
        <button
          class="btn btn-sm btn-outline text-sm ml-3"
          (click)="resetMajor(major.key)"
        >
          Reset
        </button>
        <button
          class="btn btn-sm btn-outline text-sm ml-3"
          (click)="selectMajor(major.key)"
        >
          Chọn tất cả
        </button>
      </div>
      <table class="table table-compact w-full">
        <thead>
          <tr>
            <th>Tên môn</th>
            <th class="pl-5 w-40">Lớp</th>
            <th class="text-center w-24">Hiển thị</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of major.value | keyvalue">
            <td>
              <div class="flex items-center space-x-3">
                <span class="font-bold">{{ subject.key }}</span>
              </div>
            </td>
            <td class="w-60 max-w-[33%]">
              <select
                class="select select-bordered select-sm w-full"
                [value]="
                  (selectedClasses$ | async)?.[major.key]?.[subject.key]?.class
                "
                (change)="onChangeClass(major.key, subject.key)"
              >
                <option value="">{{ defaultClassLabel }}</option>
                <option
                  *ngFor="let code of subject | keyvalue"
                  [value]="code.key"
                >
                  {{ code.key }}
                </option>
              </select>
            </td>
            <td class="text-center w-24">
              <label>
                <input
                  type="checkbox"
                  class="checkbox"
                  [value]="
                  (selectedClasses$ | async)?.[major.key]?.[subject.key]?.show
                "
                  (change)="onChangeShow(major.key, subject.key)"
                />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
