<div
  id="class-info"
  class="rounded-box overflow-scroll overflow-x-hidden overflow-y-overlay max-h-[calc(100vh-18rem)]"
>
  <div
    *ngFor="let item of calendarGroupByMajor"
    class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box w-full mx-auto mb-4"
  >
    <input type="checkbox" [(ngModel)]="item[1].expanded" />
    <div class="collapse-title text-xl font-medium">
      <b>
        <span>{{ item[0] }}</span>
      </b>
      <span
        class="badge badge-neutral ml-3 !text-xs font-normal -mt-1 translate-y-[-0.2rem]"
        *ngIf="isMajorSelecting(item[1])"
      >
        Đang chọn
      </span>
    </div>
    <div class="collapse-content">
      <button
        class="btn btn-sm btn-outline text-sm ml-3 rounded-box float-right mr-4"
        (click)="reset(item[0])"
      >
        Reset
      </button>
      <table class="table table-compact w-full">
        <thead>
          <tr>
            <th>Tên môn</th>
            <th class="pl-5 w-40">Lớp</th>
            <th class="text-center w-24">Hiển thị</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of item[1].subjects | keyvalue">
            <td>
              <div class="flex items-center space-x-3">
                <span class="font-bold">{{ subject.key }}</span>
              </div>
            </td>
            <td class="w-60 max-w-[33%]">
              <select
                class="select select-bordered select-sm w-full"
                [(ngModel)]="subject.value.selectedClass"
                (change)="onChange(item[0], subject.key, 'selectedClass')"
              >
                <option value="">{{ defaultClassLabel }}</option>
                <option
                  *ngFor="let code of subject.value.classes | keyvalue"
                  [value]="code.key"
                >
                  {{ code.key }}
                </option>
              </select>
            </td>
            <td class="text-center w-24">
              <label>
                <input
                  type="checkbox"
                  class="checkbox"
                  [(ngModel)]="subject.value.displayOnCalendar"
                  (change)="onChange(item[0], subject.key, 'displayOnCalendar')"
                />
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sticky bottom-3 ml-3 z-10 flex gap-3 flex-wrap max-w-full">
    <button
      class="btn btn-sm btn-outline text-sm mb-3 rounded-box bg-neutral-content"
      (click)="auto('refer-non-overlap')"
    >
      Tự động xếp lịch
      <span
        class="btn btn-active btn-xs !bg-neutral !text-neutral-content"
        *ngIf="oldAuto === 'refer-non-overlap' && autoTh > -1"
      >
        {{ autoTh + 1 }}
      </span>
    </button>
    <button
      class="btn btn-sm btn-outline text-sm mb-3 rounded-box bg-neutral-content"
      (click)="auto('refer-non-overlap-morning')"
    >
      Tự động xếp lịch (ưu tiên buổi sáng)
      <span
        class="btn btn-active btn-xs !bg-neutral !text-neutral-content"
        *ngIf="oldAuto === 'refer-non-overlap-morning' && autoTh > -1"
      >
        {{ autoTh + 1 }}
      </span>
    </button>
    <button
      class="btn btn-sm btn-outline text-sm mb-3 rounded-box bg-neutral-content"
      (click)="auto('refer-non-overlap-afternoon')"
    >
      Tự động xếp lịch (ưu tiên buổi chiều)
      <span
        class="btn btn-active btn-xs !bg-neutral !text-neutral-content"
        *ngIf="oldAuto === 'refer-non-overlap-afternoon' && autoTh > -1"
      >
        {{ autoTh + 1 }}
      </span>
    </button>
    <button
      class="btn btn-sm btn-outline text-sm mb-3 rounded-box bg-neutral-content"
      (click)="auto('refer-non-overlap-evening')"
    >
      Tự động xếp lịch (ưu tiên buổi tối)
      <span
        class="btn btn-active btn-xs !bg-neutral !text-neutral-content"
        *ngIf="oldAuto === 'refer-non-overlap-evening' && autoTh > -1"
      >
        {{ autoTh + 1 }}
      </span>
    </button>
  </div>
</div>
