<div
  id="calendar-table-container"
  class="rounded-lg"
  style="
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: overlay;
    max-height: calc(100vh - 18rem);
  "
>
  <div
    id="calendar-table"
    class="w-full grid"
    style="grid-template-columns: repeat(18, 1fr)"
  >
    <!-- Lặp qua từng ngày -->
    <ng-template
      [ngIf]="true"
      *ngFor="let date of (calendar$ | async)?.dateList; let dateIndex = index"
    >
      <!-- Hiển thị hàng tiết học nếu là thứ 2 -->
      <ng-template [ngIf]="getDayFromDate(date) === 1">
        <div class="text-center bg-base-200 p-3" style="grid-column: 1 / 3">
          <div class="grid grid-cols-2 grid-rows-2">
            <span></span>
            <span>Tiết</span>
            <span>Thứ</span>
            <span></span>
          </div>
          <div
            class="relative border-base-content border-b w-full"
            style="
              transform: skewY(30deg) translateY(-1.5rem) translateX(0.1rem)
                scaleX(0.3);
            "
          ></div>
        </div>
        <div
          *ngFor="let num of [].constructor(16); let i = index"
          class="text-center flex items-center justify-center"
          [ngClass]="[
            i + 1 > 6 ? 'text-gray-200' : 'text-gray-700',
            calendarBackgroundClass(i + 1)
          ]"
        >
          {{ i + 1 }}
        </div>
      </ng-template>
      <!-- Hiển thị ngày -->
      <div
        class="text-xs text-center px-1 py-3 flex flex-col items-center justify-center border-b border-gray-300"
        style="grid-column: 1 / 3"
      >
        <span class="font-bold text-lg">
          {{ DAY_OF_WEEK_MAP[getDayFromDate(date)] }}
        </span>
        {{ dateNumberToDate(date).toLocaleDateString("vi") }}
      </div>
      <!-- Chi tiết ngày học -->
      <div
        class="border-b border-gray-300"
        style="
          grid-column: 3 / 19;
          display: grid;
          grid-template-columns: repeat(16, 1fr);
        "
      >
        <ng-template
          [ngIf]="true"
          *ngFor="let row of processCalendarInDate(date); let rowIndex = index"
        >
          <div
            *ngFor="let subject of row"
            class="bg-transparent px-1 py-3"
            [ngStyle]="{
              'grid-column': subject.start + ' / ' + (subject.end + 1),
            }"
          >
            <div
              class="bg-green-400 rounded-md p-2 text-gray-800 text-sm"
              [ngClass]="{
                '!bg-red-400': rowIndex > 0
              }"
            >
              {{ subject.defaultName }}
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
