#calendar-table-container::-webkit-scrollbar {
  width: 0.75rem;
}

#calendar-table-container::-webkit-scrollbar-track {
  background: transparent;
}

#calendar-table-container::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 1rem;
}
