<div
  id="calendar-table-container"
  class="rounded-box overflow-scroll overflow-x-hidden overflow-y-overlay max-h-[calc(100vh-18rem)] print:!max-h-auto print:!overflow-visible"
>
  <div
    id="calendar-table"
    class="w-full grid"
    style="grid-template-columns: repeat(18, 1fr)"
  >
    <!-- Hiển thị hàng tiết học -->
    <div
      class="text-center bg-base-200 py-1 px-1 sticky top-0"
      style="grid-column: 1 / 3"
    >
      <div class="grid grid-cols-2 grid-rows-2 py-1 px-4">
        <span></span>
        <span class="text-xs">Tiết</span>
        <span class="text-xs">Thứ</span>
        <span></span>
      </div>
      <div
        class="relative border-base-content border-b w-full"
        style="
          transform: skewY(30deg) translateY(-1.4rem) translateX(0.1rem)
            scaleX(0.3);
        "
      ></div>
    </div>
    <div
      *ngFor="let num of [].constructor(16); let i = index"
      class="text-center flex items-center justify-center sticky top-0 text-sm"
      [ngClass]="[
        i + 1 > 6 ? 'text-gray-200' : 'text-gray-700',
        calendarBackgroundClass(i + 1)
      ]"
    >
      {{ i + 1 }}
    </div>

    <!-- Lặp qua từng ngày -->
    <ng-template
      [ngIf]="true"
      *ngFor="let date of (calendar$ | async)?.dateList; let dateIndex = index"
    >
      <!-- Hiển thị ngày -->
      <div
        class="text-xs text-center px-1 py-3 flex flex-col items-center justify-center border-b border-gray-300"
        [ngClass]="{
          'bg-base-200': [6, 0].includes(getDayFromDate(date)),
        }"
        style="grid-column: 1 / 3"
      >
        <span class="font-bold text-lg">
          {{ DAY_OF_WEEK_MAP[getDayFromDate(date)] }}
        </span>
        {{ dateNumberToDate(date).toLocaleDateString("vi") }}
      </div>

      <!-- Chi tiết ngày học -->
      <div
        class="border-b border-gray-300 py-2 gap-2 items-center"
        [ngClass]="{
          'bg-base-200': [6, 0].includes(getDayFromDate(date)),
        }"
        style="
          grid-column: 3 / 19;
          display: grid;
          grid-template-columns: repeat(16, 1fr);
        "
      >
        <ng-template
          [ngIf]="true"
          *ngFor="let row of processCalendarInDate(date); let rowIndex = index"
        >
          <div
            *ngFor="let subject of row"
            [ngStyle]="{
              'grid-column': subject.start + ' / ' + (subject.end + 1),
            }"
          >
            <div
              class="bg-primary rounded-box py-2 px-3 text-gray-800 text-xs"
              [ngClass]="{
                '!bg-error text-neutral-content': rowIndex > 0
              }"
            >
              {{ subject.defaultName }}
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
