#more-info::-webkit-scrollbar {
  width: 0.75rem;
}

#more-info::-webkit-scrollbar-track {
  background: transparent;
}

#more-info::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 1rem;
}
